<!--@todo: replace with company social media links-->
<div class="social-media">
  <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Twitter"><i class="icomoon-twitter-3"></i></a>
  <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Facebook"><i class="icomoon-facebook-3"></i></a>
  <a href="#" data-toggle="tooltip" data-placement="top" data-original-title="Google+"><i class="icomoon-google-plus-4"></i></a>
  <a href="{{@blog.url}}/rss/" data-toggle="tooltip" data-placement="top" data-original-title="RSS Feed"><i class="icomoon-feed-4"></i></a>
</div> 