<!--Post share widget-->
<div class="btn-group post-share-widget">
  <button type="button" class="btn btn-sm btn-primary-light btn-square" data-toggle="dropdown">Share</button>
  <button type="button" class="btn btn-sm btn-primary-light btn-square" data-toggle="dropdown"><span class="caret"></span></button>
  <ul class="dropdown-menu pull-right" role="menu">
    <li role="presentation" class="dropdown-header">Share post on:</li>
    <li>
      <a href="http://twitter.com/share" data-toggle="share" data-share-window-w=550 data-share-window-h=300 data-share-query="text={{title}}&amp;url={{url absolute="true"}}"><i class="fa fa-twitter-square fa-2x"></i> Twitter</a>
    </li>
    <li>
      <a href="https://www.facebook.com/sharer/sharer.php" data-toggle="share" data-share-query="u={{url absolute="true"}}"><i class="fa fa-facebook-square fa-2x"></i> Facebook</a>
    </li>
    <li>
      <a href="https://plus.google.com/share" data-toggle="share" data-share-window-w=500 data-share-window-h=420 data-share-query="url={{url absolute="true"}}"><i class="fa fa-google-plus-square fa-2x"></i> Google+</a>
    </li>
  </ul>
</div>